html
  head
    title= title
  body
    form(action="/register", method="post")
        // username
        label( for="inputUsername") Username
        input( type="text" id="inputUsername"name="Username")
        // email
        label(for="inputEmail") Email
        input(type="text" id="inputEmail" name="Email")
        // password
        label(for="inputPassword") Password
        input(type="password" id="inputPassword" name="Password")
        // verify password
        label(for="inputVerifPassword") Verification Password
        input(type="text" id="inputVerifPassword" name="Verification Password")
      