html
  head
    title= Register
  body
  pre
      |┬   ┌┬┐ ┬─┐ ┬─┐ ┬─┐ ┌┐┐ ┬─┐
      |│    │  │─│ │─  │┬┘  │  │─┤
      |┘─┘ └┴┘ │─┘ ┴─┘ │└┘  ┘  ┘ │
      |┌─┐ ┬─┐ ┐─┐ ┬─┐
      |│   │─┤ └─┐ │─┤
      |└─┘ ┘ │ ──┘ ┘ │
  form(action="/register", method="post")
      fieldset
          legend Sign Up
          br
          // username
          label( for="inputUsername") Username:
          br
          input( type="text" id="inputUsername" name="Username")
          br
          // email
          label(for="inputEmail") Email:
          br
          input(type="text" id="inputEmail" name="Email")
          br
          // password
          label(for="inputPassword") Password:
          br
          input(type="password" id="inputPassword" name="Password")
          br
          // verify password
          label(for="inputVerifPassword") Verification Password:
          br
          input(type="text" id="inputVerifPassword" name="Verification Password")
          br
      input(type="submit" value="Register")
  p if you already have an account please login to the ircd using SASL
